@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300;400;500;700;900&display=swap');

:root{
--clr1:#E38C7B;
--clr2:#CED387;
--clr3:#99817F;
--clr4:#EBD186;
--clr5:#94A395;
--clr6:#000;
--clr7:#fff;
}

*,*:before,*:after {
box-sizing: border-box;
}

html{
scroll-behavior:smooth;
}

body {
font-size: 15pt;
}

p{
line-height:1.5;
letter-spacing: 0.05em;
}

header{
background-color: var(--clr1);
}
nav{
background-color: var(--clr2);
}
section{
background-color: var(--clr3);
}
main{
background-color: var(--clr4);
}
footer{
background-color: var(--clr5);
}
